<!-- Card Overlay -->
<section class="grid-container">
    <div *ngIf="isInputCard" class="grid-item input-card">
        <button class="plus-button icon-btn add-btn" id="add-icon" (click)="openModal()">+</button>
    </div>

    <div *ngIf="!isInputCard" class="grid-item card">
        <button class="remove-btn" (click)="removeCard()">
            <span class="material-icons">delete</span>
        </button>

        <div class="card-content" (click)="toModelPage()">
            <div class="icon">{{ card?.Name }}</div>
            <div class="sub-text">{{ card?.Subtext | display : 331097593 : 329725481}}</div>
        </div>
    </div>
</section>












