<div class="filter-buttons">
  <button (click)="filterByStatus('all')">All</button>
  <button (click)="filterByStatus('error')">Error</button>
  <button (click)="filterByStatus('in-progress')">In-progress</button>
  <button (click)="filterByStatus('complete')">Complete</button>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Created By</th>
      <th>Description</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let model of filteredModels">
      <td>{{ model.name }}</td>
      <td>{{ model.createdBy }}</td>
      <td>{{ model.description }}</td>
      <td>
        <span [ngClass]="getStatusClass(model.status)">
          {{ model.status }}
        </span>
      </td>      
    </tr>
  </tbody>
</table>
