<button class="reset-button" (click)="resetSelection()">Show All Rows</button>
<table>
    <thead>
      <tr>
        <th *ngFor="let col of columns">{{ col.header }}</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of selectedRow ? [selectedRow] : data" (click)="selectRow(row)">
        <td *ngFor="let col of columns">
          <span *ngIf="col.field === 'status'; else normalCell" [ngClass]="getStatusClass(row[col.field])">
            {{ row[col.field] }}
          </span>
          <ng-template #normalCell>
            {{ row[col.field] }}
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
